<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= page_charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title><%= page_name() %> : Annotate</title>
</head>
<body>

.include menu

<h1><%= logo_url() %><%= page_name() %> : Annotate<%= (revision() ? " rev #{revision()}" : '') %></h1>

<p class="revnavi">[<a href="<%= page_view_url() %>">&gt;&gt;HEAD</a>]</p>

<p class="colorbar">
Latest Revisions:
<% latest = annotate_revision() %>
<% if latest > 4 %><span class="new4">rev<%= latest-4 %></span> <% end %>
<% if latest > 3 %><span class="new3">rev<%= latest-3 %></span> <% end %>
<% if latest > 2 %><span class="new2">rev<%= latest-2 %></span> <% end %>
<% if latest > 1 %><span class="new1">rev<%= latest-1 %></span> <% end %>
<% if latest > 0 %><span class="new0">rev<%= latest-0 %></span><% end %>
</p>
<pre class="annotate">
<%= annotate() %>
</pre>

.include systeminfo

</body>
</html>
