<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="farm.css">
  <title>Node Created</title>
</head>
<body>

<h1>Node Created</h1>
<p>
Node `<%= id() %>' created.
</p>
<dl>
<dt>ID</dt>    <dd><%= id() %></dd>
<dt>Name</dt>  <dd><%= node().name %></dd>
<dt>Theme</dt> <dd><%= node().theme %></dd>
</dl>

<p>
Click following hyperlink and construct your wiki site...
</p>
<ul>
<li><a href="<%= node_url(id()) %>"><%= node_url(id()) %></a></li>
</ul>
</ul>

.include systeminfo

</body>
</html>
