<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= page_charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title>Diff from <%= format_time(origin_time()) %></title>
</head>
<body>

.include menu

<div class="main">
<h1><%= logo_url() %>Diff from <%= format_time(origin_time()) %></h1>

<pre>
<% diffs().each do |log| %>
<span class="removedline">--- <%= escape_html(log.file) %>  rev<%= log.rev1 %>  <%= format_time(log.time1) %></span>
<span class="addedline">+++ <%= escape_html(log.file) %>  rev<%= log.rev2 %>  <%= format_time(log.time2) %></span>
<%=
  log.diff.map {|line|
    case line
    when /\A\-/
      %Q[<span class="removedline">#{escape_html(line.rstrip)}</span>\n]
    when /\A\+/
      %Q[<span class="addedline">#{escape_html(line.rstrip)}</span>\n]
    else
      escape_html(line)
    end
  }
%>
<% end %>
</pre>
</div>

</body>
</html>
