<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= page_charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title><%= page_name() %> : History</title>
</head>
<body>

.include menu

<div class="main">
<h1><%= logo_url() %><%= page_name() %> : History</h1>
<ul>
<%
    logs().each do |rev, log| %>
<li><a href="<%= cgi_url() %>?cmd=view;rev=<%= rev %>;name=<%= page_url() %>"><% %><%= log.sub(/:/, '</a>:') %>
<% if rev > 1 %>
(<a href="<%= cgi_url() %>?cmd=diff;rev1=<%= rev-1 %>;rev2=<%= rev %>;name=<%= page_url() %>">diff</a>)
<% end %>
</li>
<%  end
%>
</ul>
</div>

</body>
</html>
