<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title>History: <%= page_name() %></title>
</head>
<body>
<div class="menu">
<a href="<%= cgi_url() %>?cmd=recent">Recent</a>
<a href="<%= cgi_url() %>?cmd=list">List</a>
<a href="<%= cgi_url() %>?cmd=view;name=HelpPage">Help</a>
</div>
<h1>History: <%= page_name() %></h1>
<ul><%
    logs().each do |rev, log|   %>
<li><a href="<%= cgi_url() %>?cmd=view;rev=<%= rev %>;name=<%= page_name() %>"><%= log.sub(/:/, '</a>:') %></li><%
    end
%>
</ul>
</body>
</html>
