<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title>History: <%= page_name() %></title>
</head>
<body>

<div class="menu">
<a href="<%= cgi_url() %>?cmd=recent">Recent</a>
<a href="<%= cgi_url() %>?cmd=list">List</a>
<a href="<%= cgi_url() %>?cmd=annotate;name=<%= page_url() %>">Annotate</a>
<a href="<%= cgi_url() %>?cmd=view;name=IndexPage">Top</a>
<a href="<%= cgi_url() %>?cmd=view;name=HelpPage">Help</a>
.include search_form
</div>

<h1>History: <%= page_name() %></h1>
<ul><%
  logs().each do |rev, log|   %>
    <li><a href="<%= cgi_url() %>?cmd=view;rev=<%= rev %>;name=<%= page_url() %>"><% %><%= log.sub(/:/, '</a>:') %><%
    if rev > 1
      %> (<a href="<%= cgi_url() %>?cmd=diff;rev1=<%= rev-1 %>;rev2=<%= rev %>;name=<%= page_url() %>">diff</a>)<%
    end %></li><%
  end
%>
</ul>

</body>
</html>
