<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title>Recent</title>
</head>
<body>

<div class="menu">
<a href="<%= cgi_url() %>?cmd=list">List</a>
<a href="<%= cgi_url() %>?cmd=view;name=IndexPage">Top</a>
<a href="<%= cgi_url() %>?cmd=view;name=HelpPage">Help</a>
.include search_form
</div>

<h1>Recent Edit</h1>
<ol><%
   page_list().each do |page, mtime| %>
<li><%= format_time(mtime) %>: <a href="<%= cgi_url() %>?cmd=view;name=<%= page %>"><%= page %></a></li><%
   end
%>
</ol>

</body>
</html>
