<div class="revlinks">
<p>ReverseLinks:
<%
    show_max = 10
    ordered_revlinks()[0, show_max].each do |page|
%><a href="<%= view_url(page) %>"><%= escape_html(page) %></a>
<%
    end
%><%= num_revlinks() > show_max ? '...' : '' %>
</p>
</div>
