<div class="revlinks">
<p>ReverseLinks:
<%
    show_max = 10
    ordered_reverse_links()[0, show_max].each do |page|
%><a href="<%= cgi_url() %>?cmd=view;name=<%= url(page) %>"><%= escape_html(page) %></a>
<%
    end
%><%= num_revlinks() > show_max ? '...' : '' %>
</p>
</div>
