<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= page_charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title>Search Error</title>
</head>
<body>

.include menu

<h1><%= logo_url() %>Search Error</h1>
<p>
<%= escape_html(error_message()) %>
</p>
.include search_form

.include systeminfo

</body>
</html>
