<html>
<head>
  <meta http-equiv="refresh" content="1;url=<%= page_view_url() %>">
  <meta name="robots" content="noindex,nofollow">
  <title>Moving...</title>
</head>
<body>
<p>
Thank you for your edit.
Wait or <a href="<%= page_view_url() %>">click here</a>, please.
</p>
</body>
</html>
