<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= page_charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title><%= front_page?() ? site_name() : page_name() %></title>
</head>
<body>

.include menu

<h1><%= logo_url() %><%= front_page?() ? site_name() : page_name() %></h1>
<p>
<span class="lastmodified"><%= format_time(last_modified()) %></span>
(<%= times_before(last_modified()) %>);
rev <%= revision() %>
</p>
<%= body() %>

<hr>
.include revlinks
.include systeminfo

</body>
</html>
