<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= page_charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title><%= page_name() %> rev 1.<%= revision() %></title>
</head>
<body>

.include menu

<h1><%= logo_url() %><%= page_name() %> rev <%= revision() %></h1>

<p><span class="lastmodified">Saved at: <%= format_time(last_modified()) %></span></p>

<p><a href="<%= cgi_url() %>?cmd=edit;rev=<%= revision() %>;name=<%= page_url() %>">Revert to this revision</a></p>

<p class="revnavi">
<%  if revision() > 1  %>
[<a href="<%= cgi_url() %>?cmd=view;rev=<%= revision() - 1 %>;name=<%= page_url() %>">rev<%= revision() - 1 %></a>
<a href="<%= cgi_url() %>?cmd=diff;rev1=<%= revision() - 1 %>;rev2=<%= revision() %>;name=<%= page_url() %>">&lt;=&gt;</a>
<%  else  %>
[rev0 &lt;=&gt;
<%  end  %>
rev<%= revision() %>
<a href="<%= page_view_url() %>">&gt;&gt;HEAD</a>]
</p>

<%= body() %>

.include systeminfo

</body>
</html>
