<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= charset() %>">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="<%= css_url() %>">
  <title><%= page_name() %></title>
</head>
<body>

<div class="menu">
<a href="<%= cgi_url() %>?cmd=edit;name=<%= page_url() %>">Edit</a>
<a href="<%= cgi_url() %>?cmd=recent">Recent</a>
<a href="<%= cgi_url() %>?cmd=list">List</a>
<a href="<%= cgi_url() %>?cmd=history;name=<%= page_url() %>">History</a>
<% if revision() > 1 %>
<a href="<%= cgi_url() %>?cmd=diff;rev1=<%= revision() - 1 %>;rev2=<%= revision() %>;name=<%= page_url() %>">Diff</a>
<% else %>
Diff
<% end %>
<a href="<%= cgi_url() %>?cmd=view;name=IndexPage">Top</a>
<a href="<%= cgi_url() %>?cmd=view;name=HelpPage">Help</a>
</div>

<h1><%= page_name() %></h1>
<p><span class="lastmodified">Last Modified: <%= format_time(last_modified()) %></span></p>
<%= body() %>

<hr>
<div class="footer">
<div class="revlinks">
<p>ReverseLinks:
<%
    show_max = 10
    ordered_reverse_links()[0, show_max].each do |page|
%><a href="<%= cgi_url() %>?cmd=view;name=<%= url(page) %>"><%= escape_html(page) %></a>
<%
    end
%><%= num_revlinks() > show_max ? '...' : '' %>
</p>
</div>
</div>

</body>
</html>
