/*
    default.css
*/

body {
    background-color: white;
    color: black;
    font-family: osaka,'MS PGothic',sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 130%;
}

div.menu {
    clear: right;
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 5.5em;
    text-align: left;
    background-color: #eee;
    padding: 10px;
}
div.menu p {
    /* force line break (1 item by 1 line) */
    width: 1px;
}
div.menu a:link,
div.menu a:visited {
    width: 4em;
    color: #33a;
    background-color: transparent;
    text-decoration: none;
}
div.menu a:active,
div.menu a:focus,
div.menu a:hover {
    width: 4em;
    color: #fff;
    background-color: #33a;
    text-decoration: none;
}

/*
span.lastmodified {
}
*/

/*
div.footer {
}
*/

address {
    text-align: right;
    font-size: x-small;
}

h1 {
    font-size: 200%;
    border-bottom: 1px solid #33a;
    text-aligh: left;
}

img.sitelogo {
    vertical-align: middle;
}

h2 {
    font-size: 150%;
    text-align: left;
    border-left: 10px solid #33a;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 150%;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* never use */
h4, h5, h6 {
    background-color: red;
}

div.main p {
    line-height: 140%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    width: 40em;
}

pre {
    line-height: 110%;
    background-color: #eee;
    padding: 10px;
    font-weight: normal;
}

blockquote {
    background-color: transparent;
    border-style: solid;
    border-color: #33a;
    border-width: 4px 0px 4px 0px;
    padding: 4px;
    margin-left: 3em;
    margin-right: 3em;
    font-weight: normal;
}

ul {
    margin-left: 0px;
    padding-left: 2em;
}

li {
    width: 40em;
    margin-left: 0px;
    padding-left: 0px;
}

dl {
    width: 40em;
    margin-left: 0em;
}

dt {
    font-weight: bold;
    font-family: sans-serif;
}

dd {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    margin-left: 2em;
}

a {
    font-weight: bold;
}

a:link {
    color: #33a;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #666666;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #fff;
    background-color: #33a;
    text-decoration: underline;
}

form {
    padding: 0px;
    margin: 0px;
}

div.searchform {
    float: right;
}

hr {
    color: #33a;
    height: 1px;
}
